@font-face {
    font-family: TT-Bricks;
    src: url(fonts/TT-Bricks-Trial-Medium.ttf);
}

#main-icon {
    font-family: TT-Bricks ;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 132.03%;
    margin-top: 3px;
}

#main-landing-icon {
    position: relative;
    top: 3px;
}



.company-icon {
    width: 90%;
    margin: auto;
    margin-top: 78px;
    margin-bottom: 41px;
    font-family: 'Nippo', sans-serif;
    font-size: 18px;
}

.pd-down-arrow {
    position: relative;
    top: 4px;
    left: 6px;
}


/* this is the first main box for the company page */


.company-firstmainbox {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 65px;
}

.company-firstmainbox h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 132.03%;
    letter-spacing: 0.115em;
    color: #222222;
}

#hive {
    display: inline;
    color: #FABB05;
}


.the-hive {
    animation-name: hive;
    animation-duration: 2.5s;

}

@keyframes hive {
    0% {
        transform: translateX(-400px)
    }
    100% {
        transform: translateX(0);
    }
}



.company-firstmainbox p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140.53%;
    color: #727171;
    margin-top: 30px;

}

/* this is the second box for company page */

.company-secondmainbox, .companyinfo{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.company-secondmainbox div h2, .companyinfo div h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 132.03%;
    color: #000000;
}

#company-mobilep {
    display: none;
}


.company-secondmainbox div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 169.53%;
}


/* this is for the third main box */

.company-thirdmainbox {
    width: 100%;
    background-color: #222222;
    color: #fff;
    padding: 120px 100px;
}

.company-thirdmainbox div h2 {
    color: #fff;
}


#com-believemobilep {
    display: none;
}



.company-thirdmainbox div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 169.53%;
}

/* this is for the fourth main box */

.company-fourthmainbox {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.company-fourthmainbox h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 132.03%;
    color: #000000;
}


.com-4thchildinner {
    text-align: center;
}


.com-4thchildinner img {
    width: 141px;
    height: 170px;
}


#charles {
    width: 143px;
}



.com-4thchildinner h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 169.53%;
    color: #222222;

}

.com-4thchildinner p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 169.53%;
    color: #727171;
    margin-bottom: 0px;
}


.img-div {
    background-color: #FFCE31;
    padding: 30px 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.com-4thmainchild {
    width: 46%;
    display: flex;
    justify-content: space-between;
}

/* this is for the fifth main box */


.company-5thmainbox {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFCE31;
    padding: 80px 100px;
}

.company-5thmainbox  div h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 132.03%;
    color: #000000;
}

.com-5thmainboxchild {
    width: 46%;
}

.company-5thmainbox div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 169.53%;
    color: #222222;

}


/* this is for the last main box */

.company-lastmainbox {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 120px;
}

.company-lastmainbox h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 132.03%;
    color: #000000;
    margin-bottom: 30px;
}

.company-lastmainbox p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.53%;
    color: #323232;
    margin-bottom: 70px;
}

.company-lastmainbox a {
    font-weight: 700;
    font-size: 18px;
    line-height: 132.03%;
    color: #FFFFFF;
    background-color: #222222;
    padding: 20px 50px;
}












@media only screen and (max-width: 1211px)  {

    #main-icon {
        font-size: 20px;
        margin-top: -3px;
    }



    .company-icon {
        width: 90%;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 0px;
    }
    

    #companyicon {
        width: 74px;
        height: 30px;
    }




    /* this is the first main box for the company page */
    
    .company-firstmainbox {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 102px;
    }
    
    .company-firstmainbox h1 {
        font-size: 30px;
        letter-spacing: 0em;
    }
    
    .company-firstmainbox p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 140.53%;
        color: #727171;
        margin-top: 30px;
    
    }


/* this is the second box for company page */

.company-secondmainbox, .companyinfo{
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 56px;
}

.company-secondmainbox div h2, .companyinfo div h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 132.03%;
    color: #000000;
}

#company-mobilep {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 169.53%;
    margin-top: 24px;
}


#company-mobilep p {
    margin-bottom: 24px;
}


.company-secondmainbox div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 169.53%;
}

#company-webp {
    display: none;
}

/* this is for the third main box */

.company-thirdmainbox {
    width: 100%;
    background-color: #222222;
    color: #fff;
    padding: 51px 20px;
}

.company-thirdmainbox div h2 {
    text-align: center;
    color: #fff;
}

#com-believemobilep {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 169.53%;
    margin-top: 20px;
    text-align: center;
}


#com-believewebp {
    display: none;
}


/* this is for the fourth main box */

.company-fourthmainbox {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.company-fourthmainbox h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 132.03%;
    color: #000000;
    text-align: center;
    margin-bottom: 21px;
}


.com-4thchildinner {
    text-align: center;
    
}

.com-4thchildinner img {
    width: 141px;
    height: 156px;
}


#charles {
    width: 118px;
}


.com-4thchildinner h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 169.53%;
    color: #222222;

}

.com-4thchildinner p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 169.53%;
    color: #727171;
    margin-bottom: 20px;
}


.img-div {
    background-color: #FFCE31;
    padding: 38px 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.snd-image-com {
    padding: 38px 50px;
}


.com-4thmainchild {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* this is for the fifth main box */


.company-5thmainbox {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFCE31;
    padding: 42px 19px;
}

.company-5thmainbox  div h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 132.03%;
    color: #000000;
    text-align: center;
    margin-bottom: 23px;

}

.com-5thmainboxchild {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.company-5thmainbox div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 169.53%;
    color: #222222;

}


/* this is for the last main box */

.company-lastmainbox {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 92px;
}

.company-lastmainbox div img {
    width: 100%;
}

.company-lastmainbox h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 132.03%;
    color: #000000;
    margin-top: 21px;
    margin-bottom: 15px;
}

.company-lastmainbox p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140.53%;
    color: #323232;
    margin-bottom: 38px;
}

.company-lastmainbox a {
    font-size: 12px;
    padding: 22px 38px;
}







}